<<<<<<< HEAD
=======
.main-content {
    background-color: black;
}

// region ABOUT
.about-header {
  padding: 16pt 0;
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: normal;
}

.about-text {
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 12pt;
}
// endregion
>>>>>>> 47fe9b0c80daa3679425e6fe8bdc065a276a95d4
