<div class="container-fluid">
  <!--  PHONE NUMBER  -->
  <div class="row footer-phone align-items-center justify-content-start">
    <div class="footer-phone_icon">
      <i class="fa-solid fa-phone"></i>
    </div>
    <div class="footer-phone_label">Sinh viên thực hiện: </div>
    <div class="footer-phone_number"><br/>Nguyễn Thị Thanh Hòa – 19429041, 
      <br/>Lưu Thị Yến Nhi – 19522491,
      <br/>Phan Lê Hoàng Việt - 19512321</div>
  </div>

  <!-- FOOTER CONTENT -->
  <div class="row footer-intro">
    <div class="col">
      <div class="footer-heading">Giới thiệu</div>
      <div class="footer-text">Xử lý ngôn ngữ tự nhiên (natural language processing), một nhánh nghiên cứu của trí tuệ nhân tạo, 
        trong đó phát triển các thuật toán, xây dựng các chương trình máy tính có khả năng phân tích, xử lý, và hiểu ngôn ngữ của con người, 
        chính là lĩnh vực nhằm hiện thực hóa mục tiêu này. Do đó ngay từ khi trí tuệ nhân tạo mới ra đời (năm 1956), 
        các nhà nghiên cứu đã đặt xử lý ngôn ngữ tự nhiên là một trong hai nhiệm vụ trọng tâm của trí tuệ nhân tạo,
         bên cạnh việc phát triển các chương trình máy tính có khả năng chiến thắng con người trong các trò chơi trí tuệ đối kháng.
          Bài viết này sẽ giới thiệu về lĩnh vực xử lý ngôn ngữ tự nhiên, các bước cơ bản trong xử lý ngôn ngữ tự nhiên, 
        một số ứng dụng của xử lý ngôn ngữ tự nhiên, và cách thức công nghệ này giúp máy tính giao tiếp với con người.
      </div>
    </div>
  </div>
  <div class="row footer-contact">
    <div class="col-6">
      <div class="footer-heading">Giảng viên hướng dẫn:</div>
      <ul class="fa-ul">
        <li class="footer-contact_header"><span class="fa-li"><i class="fas fa-location-dot"></i></span>
          TS. Đặng Thị Phúc
        </li>
      <div class="footer-heading">LỜI CẢM ƠN</div>
        <li><span class="fa-li"><i class="fas fa-phone"></i></span>Thành phố HCM, ngày 16 tháng 05 năm 2022.</li>
        <li><span class="fa-li"><i class="fas fa-envelope"></i></span>Lời đầu tiên, nhóm chúng em xin chân thành cảm ơn cô Đặng Thị Phúc – giảng viên bộ môn Xử lý ngôn ngữ tự nhiên đã tận tình hướng dẫn và chỉ bảo trong thời gian làm đồ án. 
          Xin cảm ơn anh chị, bạn bè đã có nhiều góp ý đến nhóm trong quá trình học tập và nghiên cứu đồ án này. 
          Do kiến thức và kinh nghiệm của các thành viên trong nhóm có hạn chế nên đề tài không tránh khỏi sai sót. Mong sẽ nhận được những ý kiến nhận xét, góp ý của thầy cô và các bạn để đề tài được hoàn thiện hơn trong thời gian sắp tới.
          Chúng em xin chân thành cảm ơn!
          </li>
      </ul>
    </div>
    <div class="col-3">
      <div class="footer-heading">Mạng xã hội</div>
      <div class="row">
        <a href="https://www.facebook.com/sviuh">
          <div class="footer-contact_social-icon">
            <i class="fa-brands fa-facebook-f"></i>
          </div>
        </a>
        <a href="https://www.youtube.com/channel/UCme5oROF7RyEjcK62QwcI2w">
          <div class="footer-contact_social-icon">
            <i class="fa-brands fa-youtube"></i>
          </div>
        </a>
        <a href="#">
          <div class="footer-contact_social-icon">
            <i class="fa-brands fa-instagram"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="footer-heading">Fanpage</div>
      <div class="footer-contact_fanpage-container"></div>
    </div>
  </div>

  <!-- COPYRIGHT -->
  <div class="row footer-copyright">
    <div class="footer-copyright_content">Copyright © 2022 Alpha. Powered by Hoang Viet</div>
  </div>
</div>