<div class="container-fluid">
  <!--  PHONE NUMBER  -->
  <div class="row footer-phone align-items-center justify-content-start">
    <div class="footer-phone_icon">
      <i class="fa-solid fa-phone"></i>
    </div>
    <div class="footer-phone_label">Hỗ trợ / Mua hàng:</div>
    <div class="footer-phone_number">0933 800 190</div>
  </div>

  <!-- FOOTER CONTENT -->
  <div class="row footer-intro">
    <div class="col">
      <div class="footer-heading">Giới thiệu</div>
      <div class="footer-text">DirtyCoins xuất hiện trên thị trường từ đầu năm 2017, DirtyCoins mang sức mạnh
        của một thương hiệu local brand đầy cá tính với những sản phẩm thời trang hàng đầu xu thế. DirtyCoins thực chất
        là một cách lồng ghép khéo léo về sự ra đời của thương hiệu. Chữ Y trên đồng tiền tượng trưng cho tiền thân của
        DirtyCoins, The Yars Shop. Bắt nguồn từ Yars, DirtyCoins trân trọng giá trị của đồng tiền xương máu, thành quả
        lao động đầy mồ hôi, bụi bẩn và nước mắt. Với sức hút của mình, DirtyCoins trở thành biểu tượng cho phong cách
        thời trang mạnh mẽ, táo bạo, và được ưa chuộng rộng rãi. DirtyCoins mang đến một cái góc độ độc đáo không những
        về phong cách sống mà còn về gout ăn mặc hiện đại. DirtyCoins nhận thức được nhu cầu đang phát triển của thị
        trường Streetwear Việt Nam. Những mặt hàng thời trang tại DirtyCoins được thiết kế với sự kết hợp văn hoá Châu Á
        và Châu Âu, tạo ra phong cách độc đáo và mới mẻ. Bên cạnh đó ,với sự phá cách từ tông màu trắng đen, tông màu
        chủ đạo của đa số dòng thời trang Streetwear, các mẫu thời trang tại DirtyCoins mang nhiều màu sắc phong phú.
        Đây là cách DirtyCoins mang đến giá trị cho cộng đồng trẻ yêu thích Streetwear, khuyến khích họ mạo hiểm trong
        gu ăn mặc của mình. Với tính cách mạo hiểm, không ngại rủi ro, DirtyCoins dần mở rộng thị trường trong suốt quá
        trình phát triển các chi nhánh trên toàn quốc, đem tới một nền văn hoá rất riêng của DirtyCoins.
      </div>
    </div>
  </div>
  <div class="row footer-contact">
    <div class="col-6">
      <div class="footer-heading">Hệ thống cửa hàng</div>
      <ul class="fa-ul">
        <li class="footer-contact_header"><span class="fa-li"><i class="fas fa-location-dot"></i></span>
          Chi Nhánh Hồ Chí Minh:
        </li>
        <li><span class="footer-contact_header">Quận 10</span> - 561 Sư Vạn Hạnh, Phường 13.</li>
        <li><span class="footer-contact_header">Quận Tân Bình</span> - 136 Nguyễn Hồng Đào, Phường 14.</li>
        <li><span class="footer-contact_header">Quận 1</span> - The New Playground 26 Lý Tự Trọng, Phường Bến Nghé.</li>
        <li><span class="footer-contact_header">Quận 1</span> - Central Market 4 Phạm Ngũ Lão, Phường Phạm Ngũ Lão.</li>
        <li><span class="footer-contact_header">Quận Gò Vấp</span> - 41 Quang Trung, Phường 3.</li>
        <li class="footer-contact_header"><span class="fa-li"><i class="fas fa-location-dot"></i></span>
          Chi Nhánh Biên Hòa:
        </li>
        <li><span class="footer-contact_header">TP.Biên Hòa</span> - 151A Phan Trung, Phường Tân Mai.</li>
        <li class="footer-contact_header"><span class="fa-li"><i class="fas fa-location-dot"></i></span>
          Chi Nhánh Cần Thơ:
        </li>
        <li><span class="footer-contact_header">Quận Ninh Kiều</span> - 52 Mậu Thân, Phường An Phú.</li>
        <li class="footer-contact_header"><span class="fa-li"><i class="fas fa-location-dot"></i></span>
          Chi Nhánh Hà Nội:
        </li>
        <li><span class="footer-contact_header">Đống Đa</span> - 49-51 Hồ Đắc Di, Phường Nam Đồng.</li>
        <li><span class="footer-contact_header">Hai Bà Trưng</span>
          - Gian A9 Tầng 7 - Vincom Center 191 Bà Triệu, Phường Lê Đại Hành.
        </li>
        <li><span class="fa-li"><i class="fas fa-phone"></i></span>0933 800 190 - 1900252557</li>
        <li><span class="fa-li"><i class="fas fa-envelope"></i></span>csteamdcs@gmail.com</li>
      </ul>
    </div>
    <div class="col-3">
      <div class="footer-heading">Mạng xã hội</div>
      <div class="row">
        <a href="#">
          <div class="footer-contact_social-icon">
            <i class="fa-brands fa-facebook-f"></i>
          </div>
        </a>
        <a href="#">
          <div class="footer-contact_social-icon">
            <i class="fa-brands fa-youtube"></i>
          </div>
        </a>
        <a href="#">
          <div class="footer-contact_social-icon">
            <i class="fa-brands fa-instagram"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3">
      <div class="footer-heading">Fanpage</div>
      <div class="footer-contact_fanpage-container"></div>
    </div>
  </div>
</div>