<nav class="navbar container-fluid justify-content-between">
  <div class="row">
    <!--  BRAND LOGO  -->
    <div class="navbar-brand col-3">
      <div class="row">
        <img id="nav_logo" src="/asset/img/logo/logo.png" alt="Brand logo">
      </div>
    </div>

    <!--  NAVIGATION  -->
    <div class="collapse navbar-collapse col-6">
      <ul class="row navbar-nav d-flex align-items-center justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about.html">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Collab's</a>
        </li>
      </ul>
    </div>

    <!--  ACTIONS  -->
    <div class="navbar-actions col-3">
      <div class="row d-flex justify-content-end align-items-center">
        <form id="nav_search" class="form-inline d-flex">
          <input id="nav_search-input" class="form-control" type="search" placeholder="Tìm kiếm…"
                 aria-label="Tìm kiếm…">
          <button id="nav_search-button" class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <div class="btn btn-outline btn-icon">
          <a href="#"><i class="fa-solid d-block fa-user"></i></a>
        </div>

      </div>
    </div>
  </div>
</nav>